<nav class="fixed  top-0   w-full z-50">

    <ul class="flex items-center  w-full  text-emerald-50  px-5 py-2 justify-between
     bg-emerald-600 shadow shadow-emerald-800">
        <li class="flex gap-3 items-center">
            <img src="/logo.svg" alt="" >
           <h1 class="text-XL font-semibold"> My notes</h1>
        </li>
        <li>
            Welcome,vasanth
        </li>

    </ul>
</nav> 
<section class="mt-16 flex">

<nav class="w-48 min-w-3xs sticky top-16 h-[calc(100vh-4rem)] bg-emerald-600 
 text-emerald-50 py-5" >
 <app-side-bar></app-side-bar>  
</nav>
<main class="p-5">
Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>
Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>Test<br/>
</main>

</section>